<section class="specific-data-col-1">{{ content.roleSpecificData.keyPerformanceIndicators }}</section>
<section class="specific-data-col-2">{{ content.roleSpecificData.financialSummary }}</section>
<section class="specific-data-col-3">{{ content.roleSpecificData.researchAndDevelopmentProjects }}</section>
<section class="specific-data-col-4">{{ content.roleSpecificData.strategicGoals }}</section>