<section class="specific-data-col-1">{{ content.roleSpecificData.activeProjectTimelines }}</section>
<section class="specific-data-col-2">{{ content.roleSpecificData.projectBudgetVsActuals }}</section>
<section class="specific-data-col-3">{{ content.roleSpecificData.resourceAllocationOverview }}</section>
<section class="specific-data-col-4">{{ content.roleSpecificData.efficiencyMetrics }}</section>