<section class="specific-data-col-1">{{ content.roleSpecificData.activeCropCycles }}</section>
<section class="specific-data-col-2">{{ content.roleSpecificData.environmentalAlerts }}</section>
<section class="specific-data-col-3">{{ content.roleSpecificData.upcomingTasks }}</section>
<section class="specific-data-col-4">{{ content.roleSpecificData.quickLinks }}</section>