<section class="specific-data-col-1">{{ content.roleSpecificData.lowInventoryAlerts }}</section>
<section class="specific-data-col-2">{{ content.roleSpecificData.supplierList }}</section>
<section class="specific-data-col-3">{{ content.roleSpecificData.activePurchaseOrders }}</section>
