<section class="specific-data-col-1">{{ content.roleSpecificData.productCatalogs }}</section>
<section class="specific-data-col-2">{{ content.roleSpecificData.currentSalesLeads }}</section>
<section class="specific-data-col-3">{{ content.roleSpecificData.salesTargets }}</section>
<section class="specific-data-col-4">{{ content.roleSpecificData.commissionStructure }}</section>