<!--{% capture pageTitle %}{{ content.commonData.roleName }} dashboard {% endcapture %}   https://liquidjs.com/tags/capture.html  
{% render 'partials/head.liquid', title: pageTitle %}  -->

{% capture pageTitle %}{{ content.commonData.dashboardTitle}}{% endcapture %} 
{% render 'partials/head.liquid/', title: pageTitle %}

<link rel="stylesheet" href="/css/dashboard.css">

<body>
<img src="assets/main-fresk-circle.svg" alt="" width="350" height="350" class="fresk-circle-dec">
    <header class="header-top-col">
        <p class="display-name">Welcome <em>{{ content.commonData.displayName }}</em></p>
        <p class="notification"> You have <strong>{{ content.commonData.unreadNotificationsCount }}</strong> unread notification(s)</p>
    </header>
    <main>
        {% assign role ='partials/role-data/' | append: content.commonData.roleName | append: ".liquid"%}
        {% render role, content: content %}
    </main>
     <div class="divide-right-col"></div>
    <div class="divide-left-col"></div>
</body>
</html>
